.file_cards__item__info {
    
    position: absolute;
    margin-bottom: 100px;
    left: 1000px;
    top: 80px;
  }
  
.file_cards__item__text {
    color: #0a0a0a;
    font-size: 30px;
    line-height: 100px;
  }